body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.game-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.scoreboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

/* Stile della Faccia (Campo da Gioco) */
.face {
    position: relative;
    width: 300px;
    height: 400px;
    background-image: url('./public/assets/face.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px auto;
    overflow: hidden;
    cursor: url('./public/assets/cursor.png') 16 16, pointer;
    -webkit-tap-highlight-color: transparent;
}

.mole {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('./public/assets/pimple.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.1s;
}

.mole:hover {
    transform: scale(1.1);
}

.hidden {
    display: none;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}